<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <typeAlias alias="Whether" type="kr.kein.getwww.vo.Whether" />
        <typeAlias alias="Paging" type="kr.kein.getwww.vo.Paging" />
        <typeAlias alias="GeoData" type="kr.kein.getwww.vo.GeoData" />
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <!-- connecting to Local MySql -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://localhost:3306/py" />
                <property name="username" value="py" />
                <property name="password" value="##" />
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="kr/kein/getwww/mapper/WhetherDataMapper.xml" />
    </mappers>

</configuration>